.loginForm{
  background-color: white;
  width: 400px;
  height: 300px;
  margin-top: -200px;
  margin-left: -200px;
  padding: 30px;
  opacity: 1;
  position: fixed;
  top: 50% ;
  left: 50% ;
  z-index: 10;
  transition: 800ms;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.18);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}